<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="page-main">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo-nav.png" width="60" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active borderlist">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item borderlist">
                <a class="nav-link" href="#">Acerca de mi negocio</a>
            </li>
            <li class="nav-item borderlist">
                <a class="nav-link" href="#user-exp-carrousel-div">Nuestros clientes</a>
            </li>
            <li class="nav-item borderlist">
                <a class="nav-link" href="#contact">Contacto</a>
            </li>
            <li class="nav-item borderlist">
                <a class="nav-link" href="#container-netw-scroll-div">Mi red</a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar en mi negocio..." aria-label="Search">
            <button class="btn btn-outline" id="search-btn-mn" type="button"><i class="fas fa-search"></i> </button>
        </form>
    </div>
</nav>